body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
    text-align: center;
    margin: 30px;
}

h1 {
    color: #333;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #0078d7;
    color: white;
}

img {
    width: 120px;
    border-radius: 5px;
}

.titles{
    background: blue;
    color: white;
}

.line_with_color{
    background: #0078d7;
    font-size: larger;
    color: darkblue;
    font-style: bold;
    
}